<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student1" class="com.cognizant.Student">

        <property name="id" value="101"/>
        <property name="name" value="Jaydeb"/>
        <property name="course" value="ECE"/>

    </bean>

    <bean id="student2" class="com.cognizant.Student">

        <property name="id" value="102"/>
        <property name="name" value="Harsh"/>
        <property name="course" value="ECE"/>

    </bean>

</beans>